.App {
  text-align: center;
  height: "100%";
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


@media (max-width: 867px) {
  .home {
    width: 3rem !important;
  }

  .roadmap {
    width: 5rem !important;
  }

  .headerlogo {
    width: 10rem !important;
  }

  .rarity {
    width: 4rem !important;
  }

  .faq {
    width: 2rem !important;
  }

  .twitter {
    width: 3rem !important;
  }

  .discord {
    width: 3rem !important;
  }

  /* .infoBox {
    width: 30rem !important;
  } */
  
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
